<launch>

  <node 
    pkg="vision_core"
    type="vision_core"
    name="vision_core"
  >

  <param name="udpWriter/bitrate" value="4000000"  type="int"/>

  <param name="udpStream/resolution" value="5243600" type="int" />

  <param name="udpStream/ip" value="255.255.255.255" type="string" />

  <param name="udpStream/encoding" value="h.264" type="string" />

  <param name="udpStream/port" value="6660" type="int" />

  <param name="capture/resolution" value="7865400" type="int" />

  <param name="capture/fps" value="30" type="int" />

  <param name="capture/flip" value="0" type="int" />

  <param name="image/whitebalance" value="0" type="int" />

  <param name="tracking/algo" value="off" type="string" />

  <param name="sceneTrack/algo" value="off" type="string" />

  <!-- you can set parameters in child namespaces -->
  <param name="wg/childparam" value="a child namespace parameter" />

  <!-- upload the contents of a file to the server -->
  <param name="configfile" textfile="$(find roslaunch)/example.xml" />
  <!-- upload the contents of a file as base64 binary to the server -->
  <param name="binaryfile" binfile="$(find roslaunch)/example.xml" />

</launch>